body {
  background: #FFBFCA;
  color: #333333;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 18px;
}

a {
  color: #FF8398;
  text-decoration: none;
}

a:hover { color: #8082FE }

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  padding: 0.4rem 0rem 0.1rem 0rem;
  margin: 0 0 1rem 0;
  font-size: 18px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border: none;
  color: #333333;
  border-bottom: 2px solid #333;
}

button:hover {
  background: #ED82ED;
  padding: 0.4rem 0.5rem 0.1rem 0.5rem;
  border-bottom: 2px solid #ED83ED;
}

button:active {
  background: #EE26C0;
  color: #FFFFFF;
  border-bottom: 2px solid #EE26C0;
}

.grass {
  width: 420px;
  height: 420px;
  background-image: url(/assets/bg.gif);
  margin: 0 0 1.5rem 0;
  position: relative;
}

.grass img { position: absolute; }

.controls {
  margin: 0 0 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  display: inline;
  list-style-type: none;
  font-size: 14px;
}

footer { font-size: 14px; }

